*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h1{
    text-align: center;
    font-family: Courier New, monospace;
    font-size: 250%;
}

body{
    font-family: Courier New;
   
}

p {
    background-color: #dde6d5;
    border: 1px; 
    text-align: center;
    margin-top: 0%;
    font-size: 95%;
}

h2.protein{
        border: 1px; 
        border-style: groove;
        font-weight: bold; 
        text-align: center;
        color: whitesmoke; 
        text-align: end;
        margin-bottom: 0%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#chicken {
        background-color: tomato;
        border: 1px;
    }

#beef {
        background-color: #039fdb;
        border: 1px;
    }

#sushi {
        background-color: #FFBD33;
        border: 1px;
}

.row{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
}

.container{
position: relative;
}

#item1{
    display: inline-block;
    margin: 10px;
    clear: right;
    padding-left: 10px;;
}

#item2{
    display: inline-block;
    margin: 10px;
    clear: right;
}

#item3{
    display: inline-block;
    margin: 10px;
    clear: right;
    padding-right: 10px;
}



@media screen and (min-width: 992px)
{ .col-lg-4 {
    float: left;
    clear: right;
    }
    .col-lg-4{
    width: 33.33%;
    }
}


@media screen and (min-width: 768px)
{.col-md-6, .col-md-12{
        float:left;
        clear: both;}
}
    .col-md-6{
        width: 50%;
        }
    .col-md-12{
        width: 100%;

}
    

@media screen and (max-width: 767px) 
{.col-sm-12 {
        float:left;
    }
}
    .col-sm-12{
        width: 100%;
        }
